<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sunshine.soccer.mapper.BfAttachItemMapper">

   <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    ID,   
    BIZ_TYPE,   
    BIZ_NAME,   
    ITEM_TYPE,   
    ITEM_CODE,   
    ITEM_NAME,   
    ITEM_EXTS,   
    ITEM_REMARK,   
    REQUIRED,   
    ITEM_MAX_SIZE,   
    STATUS,   
    SORT_NO,   
    GRADE,   
    REMARK   
    </sql>

</mapper>
